.list .item div.img-button{
    width: 90px !important;
    height: 120px !important;
    position: absolute;
    left: 16px;
    top: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
}
.item div.img-button{
    width: 120px !important;
    height: 160px !important;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
}
.icon-on{
    background-image: url(../img/icons/music_detail_paly.png);
}
.icon-off{
    background-image: url(../img/icons/music_detail_stop.png);
}